{% extends "layouts/scotgov-main.html" %}
{% set mainClasses="ds_layout--article" %}

{% set pageName="Types of disclosure" %}

{% block beforeContent %}
	<nav aria-label="Breadcrumb">
		<ol class="ds_breadcrumbs">
			<li class="ds_breadcrumbs__item">
				<a class="ds_breadcrumbs__link" href="#0">
					Home
				</a>
			</li>
			<li class="ds_breadcrumbs__item">
				<a class="ds_breadcrumbs__link" href="#0">
					Working, jobs and careers
				</a>
			</li>
			<li class="ds_breadcrumbs__item">
				<a class="ds_breadcrumbs__link" href="#0">
					Finding a job and starting work
				</a>
			</li>
			<li class="ds_breadcrumbs__item">
				<a class="ds_breadcrumbs__link" href="#0">
					Disclosure and criminal record checks
				</a>
			</li>
			<li class="ds_breadcrumbs__item" aria-current="page">
				Types of disclosure
			</li>
		</ol>
	</nav>
{% endblock %}

{% block content %}
	<div class="ds_layout__header">
		<header class="ds_page-header">

			<h1 class="ds_page-header__title">
				{{ pageName }}
			</h1>
			<dl class="ds_page-header__metadata  ds_metadata">
				<div class="ds_metadata__item">
					<dt class="ds_metadata__key">Last updated</dt>
					<dd class="ds_metadata__value">27 Jul 2023</dd>
				</div>
			</dl>

		</header>
	</div>


	<div class="ds_layout__content">
		<p>You may need a criminal record check from <a href="/organisations/disclosure-scotland">Disclosure Scotland</a> if you're applying for work, volunteering, or things like adopting a child.</p>

		<p>Disclosure Scotland checks and shares information about people's criminal records. This helps organisations recruit the right people for certain types of work, like working with children.</p>

		<p>The type of disclosure you need&nbsp;depends on your role or the work you're doing.</p>

		<table class="ds_table">
			<thead>
				<tr>
					<th>Type</th>
					<th>Fee</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Basic</td>
					<td>£25</td>
				</tr>
				<tr>
					<td>Standard</td>
					<td>£25</td>
				</tr>
				<tr>
					<td>Enhanced</td>
					<td>£25</td>
				</tr>
				<tr>
					<td>Protecting Vulnerable Groups (PVG) scheme</td>
					<td>£18 or £59 (see <a href="/pvg-scheme/types-of-pvg-disclosure-record">PVG fees</a>)</td>
				</tr>
			</tbody>
		</table>

		<h2>Basic disclosure</h2>

		<p>Basic disclosure is the most common type of criminal record check. It's the lowest level of disclosure. It shows any unspent convictions you have.</p>

		<p>Under the <a href="https://www.legislation.gov.uk/ukpga/1974/53/contents">Rehabilitation of Offenders Act 1974</a>, some convictions are treated as spent after a certain length of time. <a href="/convictions-higher-level-disclosures/spent-convictions">Spent convictions</a> are not included on a basic disclosure.</p>

		<p>Disclosure Scotland does not monitor people as part of a basic disclosure. The disclosure only shows the information available on the date it was created.</p>

		<h3>How to apply</h3>

		<p>You can&nbsp;<a href="/basic-disclosure/apply-for-basic-disclosure">apply online for basic disclosure</a>.</p>

		<div class="ds_warning-text"><strong class="ds_warning-text__icon"></strong> <strong class="visually-hidden">Warning</strong>

			<div class="ds_warning-text__text">
				<p>If you need a basic disclosure for a job in England or Wales, apply to the&nbsp;<a href="https://www.gov.uk/request-copy-criminal-record">Disclosure and Barring Service</a>.</p>
			</div>
		</div>

		<h2>Standard and enhanced disclosure</h2>

		<p>Standard and enhanced disclosures involve <a href="/convictions-higher-level-disclosures">higher level checks</a>.&nbsp;They're for people doing certain types of work or looking to adopt.</p>

		<ul>
			<li><a href="/standard-disclosure">standard disclosure</a> is for specific roles such as solicitors, accountants or providing a care service</li>
			<li><a href="/enhanced-disclosure">enhanced disclosure</a> applies to specific roles such as checking people are suitable for adoption, or applying for certain gaming or lottery licences</li>
		</ul>

		<h3>How to apply</h3>

		<p>The organisation you're working with will send you a form to complete.</p>

		<p>Organisations can&nbsp;<a href="/email-disclosure-application-form">download the digital form</a>. Once the form is complete, the organisation needs to email it to Disclosure Scotland.</p>

		<h2>Protecting Vulnerable Groups (PVG) scheme</h2>

		<p>The <a href="/apply-for-pvg">PVG scheme</a> is for people doing <a href="/pvg-scheme/types-of-work-covered-by-pvg">regulated work</a>&nbsp;with children and protected adults. The organisation you're working with may ask you to join the scheme.</p>

		<p>A PVG disclosure shows unspent and certain <a href="/convictions-higher-level-disclosures/spent-convictions">spent convictions</a>. It also shows any non-conviction information that the police or other government bodies think is relevant.</p>

		<p>Disclosure Scotland continuously monitors PVG members' records. It checks for convictions or other vetting information that might affect their suitability to work with vulnerable groups.</p>

		<h3>How to apply</h3>

		<p>The organisation you're working with will&nbsp;<a href="https://csg.apply.disclosure.scot/">start the application online</a>.</p>

		<p>Once they complete the first part of the application, you'll receive an email with a link to the second part. You need to complete this part online and submit the application.</p>

		<div class="ds_inset-text">
			<div class="ds_inset-text__text">
				<p>Organisations must <a href="/register-organisation-disclosure">register with Disclosure Scotland</a> to apply for standard, enhanced or PVG disclosures. If they do not want to register, they can <a href="/find-umbrella-body">use an umbrella body</a> instead.&nbsp;&nbsp;</p>
			</div>
		</div>

		<h2>Help</h2>

		<h3>Training webinars</h3>

		<p>Disclosure Scotland runs free webinars to help organisations understand the types of disclosure. <a href="https://www.eventbrite.co.uk/o/disclosure-scotland-17127160728">Sign up on the Disclosure Scotland events page</a> or email <a href="mailto:dsworkshop@disclosurescotland.gov.scot">dsworkshop@disclosurescotland.gov.scot</a> to find out more.</p>

		<h3>Video guidance</h3>

		<p>There's&nbsp;<a href="https://youtu.be/O6q37vpSweg">guidance on Youtube</a> that explains the different types of disclosure.</p>

		<h3>Contact Disclosure Scotland</h3>

		<p>Email: <a href="mailto:response@disclosurescotland.gov.scot">response@disclosurescotland.gov.scot</a></p>

		<p>Phone: 0300 020 0040<br>
			Monday to Thursday 9am to 4pm<br>
			Friday 9am to 3:30pm<br>
			<a href="https://www.gov.uk/call-charges">Find out about call charges</a>
		</p>
	</div>


	<div class="ds_layout__sidebar">
		<aside class="ds_article-aside">

			<h2 class="gamma">
				Related content
			</h2>
			<ul class="ds_no-bullets">
				<li>
					<a href="/basic-disclosure">Apply for basic disclosure</a>
				</li>
				<li>
					<a href="/standard-disclosure">Standard disclosure</a>
				</li>
				<li>
					<a href="/enhanced-disclosure">Enhanced disclosure</a>
				</li>
				<li>
					<a href="/pvg-scheme">Protecting Vulnerable Groups (PVG) scheme</a>
				</li>
			</ul>

		</aside>
	</div>
{% endblock %}
