{% extends "layouts/scotgov-main.html" %}
{% set mainClasses="ds_layout--guide" %}

{% set pageName="Apply for basic disclosure" %}

{% block beforeContent %}
	<nav aria-label="Breadcrumb">
		<ol class="ds_breadcrumbs">
			<li class="ds_breadcrumbs__item">
				<a class="ds_breadcrumbs__link" href="#0">
					Home
				</a>
			</li>
			<li class="ds_breadcrumbs__item">
				<a class="ds_breadcrumbs__link" href="#0">
					Working, jobs and careers
				</a>
			</li>
			<li class="ds_breadcrumbs__item">
				<a class="ds_breadcrumbs__link" href="#0">
					Finding a job and starting work
				</a>
			</li>
			<li class="ds_breadcrumbs__item">
				<a class="ds_breadcrumbs__link" href="#0">
					Disclosure and criminal record checks
				</a>
			</li>
			<li class="ds_breadcrumbs__item" aria-current="page">
				Apply for basic disclosure
			</li>
		</ol>
	</nav>
{% endblock %}

{% block content %}
	<div class="ds_layout__header">
		<header class="ds_page-header">

			<span class="ds_page-header__label  ds_content-label">Apply for basic disclosure</span>
			<h1 class="ds_page-header__title">
				{{ pageName }}
			</h1>
			<dl class="ds_page-header__metadata  ds_metadata">
				<div class="ds_metadata__item">
					<dt class="ds_metadata__key">Last updated</dt>
					<dd class="ds_metadata__value">9 Jun 2023</dd>
				</div>
			</dl>

		</header>
	</div>


	<div class="ds_layout__navigation">
		<nav role="navigation" class="ds_contents-nav" aria-label="Sections">
			<h2 class="gamma">Contents</h2>
			<ul class="ds_contents-nav__list">
				<li class="ds_contents-nav__item">
					<a href="/basic-disclosure" class="ds_contents-nav__link">
						Overview
					</a>
				</li>
				<li class="ds_contents-nav__item">
					<span class="ds_contents-nav__link ds_current">
						Apply for basic disclosure
					</span>
				</li>
				<li class="ds_contents-nav__item">
					<a href="/basic-disclosure/after-you-apply">
						After you apply
					</a>
				</li>
			</ul>
		</nav>
	</div>


	<div class="ds_layout__content">
		<h2>Apply for the right service</h2>

		<h3>For a job or volunteering</h3>

		<p>If you need a basic disclosure for a job or volunteer role in Scotland, use this service, which is provided by Disclosure Scotland.</p>

		<p>For a role based in England or Wales, apply to the&nbsp;<a href="https://www.gov.uk/request-copy-criminal-record">Disclosure and Barring Service</a>.&nbsp;Your employer may not accept a basic disclosure check if it's from the wrong service.</p>

		<h3>For a personal reason</h3>

		<p>If you want a basic disclosure for personal reasons rather than work purposes, apply where you live – Disclosure Scotland (this service) if you live in Scotland, or the Disclosure and Barring Service if you live in England or Wales.</p>

		<h2>Apply online</h2>

		<h3>Before you start</h3>

		<p>You must do your own basic disclosure application.</p>

		<h3>What you need for your application</h3>

		<p>To complete your application you'll need your:&nbsp;</p>

		<ul>
			<li>address details for the past 5 years</li>
			<li>National Insurance number (if you have one)</li>
			<li>passport number (if you have a passport – it can be from any country)</li>
			<li>driving licence number, for either a full or provisional licence (if you have a licence)</li>
			<li>non-UK identity card number (if you have one)</li>
		</ul>

		<p>You will also need a credit or debit card to pay online. You'll need to give your email address when entering your payment details.</p>

		<p>Once you've submitted your application Disclosure Scotland will send you an email with a reference number.</p>

		<h3>Identity checks</h3>

		<p>During the application Disclosure Scotland's partner agency TransUnion will try to verify your identity online so your application can be processed quicker.</p>

		<p>This is not a credit check. It will show up on your credit history, but it will not affect your credit rating. If TransUnion cannot verify your identity online, you'll need to send copies of&nbsp;<a href="/basic-disclosure/after-you-apply">identity documents</a> to Disclosure Scotland.</p>

		<h2>Cost</h2>

		<p>It costs £25 for a basic disclosure. You can pay by credit or debit card.</p>

		<p>You <a href="/disclosure-refunds">will not get a refund</a> unless Disclosure Scotland has made an error.</p>

		<p><a href="https://basic.apply.disclosure.scot/" title="Apply now" class="ds_button  ds_button--fixed">Apply now</a></p>

		<h2>Apply using a paper form</h2>

		<p>You can <a href="/disclosure-paper-application">ask for a paper application form</a>, but it is quicker to apply online.</p>

		<h2>Information for care experienced people</h2>

		<p>There’s <a href="https://www.whocaresscotland.org/resource-library/education/disclosure-scotlands-top-4-tips-for-care-experienced-people/">information to help you</a> complete the application, including how to answer the address history part of the form.</p>

		<h2>Help</h2>

		<p>You can contact Disclosure Scotland for help:</p>

		<ul>
			<li>email: <a href="mailto:response@disclosurescotland.gov.scot">response@disclosurescotland.gov.scot</a></li>
			<li>phone: 0300 020 0040</li>
		</ul>

		<h3>Opening hours</h3>

		<p>Monday to Thursday 9am to 4pm<br>
			Friday 9am to 3:30pm</p>

		<p>Disclosure Scotland is closed on all <a href="/scotland-bank-holidays">Glasgow public holidays</a>.</p>
		<nav class="ds_sequential-nav" aria-label="Article navigation">
			<div class="ds_sequential-nav__item  ds_sequential-nav__item--prev">
				<a title="Previous section" href="/basic-disclosure" class="ds_sequential-nav__button  ds_sequential-nav__button--left">
					<span class="ds_sequential-nav__text" data-label="previous">
						Overview
					</span>
				</a>
			</div>
			<div class="ds_sequential-nav__item  ds_sequential-nav__item--next">
				<a title="Next section" href="/basic-disclosure/after-you-apply" class="ds_sequential-nav__button  ds_sequential-nav__button--right">
					<span class="ds_sequential-nav__text" data-label="next">
						After you apply
					</span>
				</a>
			</div>
		</nav>
	</div>


	<div class="ds_layout__sidebar">
		<aside class="ds_article-aside">

			<h2 class="gamma">
				Related content
			</h2>
			<ul class="ds_no-bullets">
				<li>
					<a href="/disregards-historical-sexual-convictions">Pardons and disregards for convictions for sexual activity between men</a>
				</li>
				<li>
					<a href="/disclosure-types">Types of disclosure</a>
				</li>
				<li>
					<a href="/job-scams-disclosure-checks">Job scams and disclosure checks</a>
				</li>
			</ul>

		</aside>
	</div>
{% endblock %}